p {
  font-family: Lato;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Lato;
  font-size: 16px;
}

tr{
  background-color: #f0d1c7;
}

th, td {
  border: 1px solid black;
  text-align: left;
}
