<!--------- TABLA PRINCIPAL DEL SISTEMA   -->

<div id="sysbar" >
<table class="mainbar"> <tr>
  <td onclick="alert('TASKs ver 0.0.2\n\n- Ticket flow status, inlined change buttons\n- Resolution and closing time\n- Status bar\n- Several fixes\n\nTASKs ver 0.0.3\n- Component tasklist gets an object as parameter\n- Tidy up code\n- Warning on delete modal')">&nbsp;&nbsp;
  <b>{{MainAppName}}</b> - {{MainViewName}}</td>
  <!--  <td [width]="100">
    <div ng-controller='TimeCtrl'>
      <p>{{ clock  | date:'medium'}}</p>
    </div>
    </td> -->
  </tr></table>
</div>

<!--------- BARRA DE APLICACIONES   -->

<div class="appsbar">

    <button class="tablinks" (click)="openTab($event, 'TASKS-App')">T</button>
    <button class="tablinks" (click)="openTab($event, 'Task-All')" id="defaultOpen">All</button>
    <button class="tablinks" (click)="openTab($event, 'TASKS-Cfg')" >CFG</button>

</div>


<!--------- RESTO DEL CONTENIDO   -->

<div id="Task-All" class="tabcontent" style="display:block">

      <tasklist_comp [Parameters]="TaskAppParams"></tasklist_comp>
      <!--
      <tasklist_comp name="{{ name }}"  owner="aitor" desc="Descripción" initSelect="4,5"></tasklist_comp>
      -->
</div>

<div id="TASKS-App" class="tabcontent"  style="display:none">

      TASKS application 

</div>


<div id="TASKS-Cfg" class="tabcontent"  style="display:none">

      TASKS Configure

</div>
-->





