<div class="vbox">

  <!--------- TABLE WITH TOOLBARS AND ELEMENTS  ---->

  <div class="row header">

    <!--------- TOOLBAR  ---->

    <table class=toolbar height=18px>
      <tr height=18px>
        <td width=100%>

          <table class=toolbar_tabs height=18px width=100%>
            <tr>

              <td width=10px style="border-bottom: none"></td>
              <td width=90px class=toolbar_tab>
                <button class="toolbar_tab" (click)="openToolbarTab($event, '10')" id="ToolBar_List">&nbsp;<span style="color:#ddd000;">&#11201;</span> {{Parameters["DBName"]}}</button>
              </td>
              <td width=2px style="border-bottom: none"></td>
              <td width=90px class=toolbar_tab>
                <button class="toolbar_tab" (click)="openToolbarTab($event, '11')" id="ToolBar_Item">&nbsp;<span style="color:#ddd000;">&#11201;</span> {{Parameters["DBRecordName"]}}</button>
              </td>
              <td width=2px style="border-bottom: none"></td>
              <td width=90px class=toolbar_tab>
                <button class="toolbar_tab" (click)="openToolbarTab($event, '12')"  id="ToolBar_View">&nbsp;👁 View</button>
              </td>
              <!--
        <td width=90px class=toolbar_tab style="background-color: #888888;">&nbsp;👁&nbsp;View</td>
-->
              <td style="border-bottom: none"></td>
            </tr>
          </table>

        </td>
      </tr>

      <!-- /// TOOLBAR TABS -->

      <tr height=70px><td>

          <!-- /// DB PROPERTIES TOOLBAR-->

          <div id="DBProps" class="toolbartabcontent" style="display:block">
            <button type="button" class=toggleOff [class.toggleOn]="newRecordToggle" (click)="toggleNewRecordBar()">
              New {{Parameters["DBRecordName"]}}</button>
            <button type="button" class=toolbar disabled>Search</button>
            |
            <button type="button"  class=toolbar [disabled]="numSelected()==0" (click)="deleteSelectedTasksButton(1)">Delete</button>
          </div>

          <!-- /// DB RECORD PROPERTIES TOOLBAR-->

          <div id="DBRecProps" class="toolbartabcontent" style="display:block">
          <table height=100%><tr><td class="toolbar_section" width=80px>

            <div class="toolbar_section_title">Classification</div>
            <div class="colFmt"><span>Class:</span><span style="font-weight: bold ">{{op_classname}}</span></div><br>
            <div class="colFmt"><span>Type:</span><span>Task</span></div>
            <br>

            </td><td class="toolbar_section" width=165px>
            <div class="toolbar_section_title" style="background-color: #cccccc;">Milestones</div>
            <table class="toolbar_inlined" width=160px><tr>
              <td class="toolbar_header_cell" width=40px>Created</td>
              <td class="toolbar_inlined_cell"> {{ (op_creator==-1)?"none":Parameters['users'][op_creator] }}</td>
              <td class="toolbar_inlined_cell">{{op_createdT | date: 'dd/MM/y'}}</td>
            </tr><tr>
              <td class="toolbar_header_cell">Resolved</td>
              <td class="toolbar_inlined_cell"> </td>
              <td class="toolbar_inlined_cell">{{op_resolvedT | date: 'dd/MM/y'}}</td>
            </tr><tr>
              <td class="toolbar_header_cell">Closed</td>
              <td class="toolbar_inlined_cell"> </td>
              <td class="toolbar_inlined_cell">{{op_closedT | date: 'dd/MM/y'}}</td>
            </tr></table>

            </td><td class="toolbar_section">
            <span style = "vertical-align: top;">Name: </span>
            <input class="toolbar" style = "vertical-align: top;"
    [(ngModel)]="op_name" placeholder="Name for selected" size="12" (change)="renameSelectedTasks()" [disabled]="numSelected()==0"><br><br>
            <span style = "vertical-align: top;">Owner: </span>
            <select class="toolbarbox" required size=2 [(ngModel)]='op_owner' [disabled]="numSelected()==0" >
      <option *ngFor="let item of [].constructor(Parameters['users'].length); let i = index" [value]="i" (click)="onChangeOwner()">{{Parameters['users'][i]}}</option>
      </select>
            &nbsp;
            </td><td class="toolbar_section" width="150px">
            <span style = "vertical-align: top;">Status: </span><span style="font-weight: bold " ng-bind-html="getSelectedStatusName()">{{getSelectedStatusName()}}</span><br>
            Flow actions:<br>
            <ng-container *ngIf="numSelected()>0 && op_status>=0">
              <ng-container *ngFor="let action of commonAvailableActions()" > 
                &nbsp;&nbsp;<button type="button" (click)="doActionTasks( action.nextStatus)" class=inlined >{{action.name}}</button><br>
              </ng-container>
            </ng-container>


          </td><td class="toolbar_section" width="180px">
            <span style = "vertical-align: top;">Description: </span><br>
            <input class="toolbar" style = "vertical-align: top;"
    [(ngModel)]="sel.description" placeholder="Enter description here" size="30" *ngIf="checkOneSelectedTask()">

          </td><td class="toolbar_section">

            <template #RecordSpecificProps> </template>


          </td><td>
          </td></tr></table>
          </div>

          <!-- /// VIEW PROPERTIES TOOLBAR-->


          <div id="ViewProps" class="toolbartabcontent" style="display:block">
          <table height=100%><tr><td class="toolbar_section" width=150px>

          &nbsp;<input type="checkbox" [(ngModel)]="this.currentView.showTerminal" (change)="vw_toggleTerminalTasks($event)">Show completed tasks<br>
          &nbsp;<input type="checkbox" [(ngModel)]="this.currentView.showHeaders" >Show headers<br>
          &nbsp;<input type="checkbox" [(ngModel)]="this.currentView.showGrid" >Show grid<br>

          </td><td class="toolbar_section" width=300px>
          &nbsp;Sort field:  <select class="toolbarbox" required size=0 [(ngModel)]='sortField' >
      <option *ngFor="let item of [].constructor(fields.length); let i = index" [value]="i">{{fields[i].FCaption}}</option>
      </select>
          <br>
          &nbsp;<input type="checkbox" [(ngModel)]="ascending" >Ascending?<br>



          </td></tr></table>
          
          </div>
          <!-- /// END OF TOOLBAR TABS-->
       </td>
      </tr>
    </table>

    </div>
    <div class="row content">

    <table width=100%>

      <!--------- FIELDS NAME  ---->

      <thead>

      <tr *ngIf="this.currentView.showHeaders" class=header>
        <td width="25"><input type="checkbox" (change)="onSelectAll($event)"></td>

        <td *ngFor="let f of visibleFields(); let i = index" width={{f.Width}}>{{showArrow(f.FName)+" "+f.FCaption}}</td>

        <td>Actions</td>
      </tr>

      <!--------- New Task ROW  ---->

      <tr class=newitem *ngIf="newRecordToggle">
        <td width="25px"></td>


        <td *ngFor="let f of visibleFields()" width={{f.Width}}  [class.grid] = "this.currentView.showGrid">
          <div [ngSwitch]="f.FType">

            <ng-container *ngSwitchCase="'string'">
              <ng-container *ngIf="f.Access == 'ro'; else newrec_string_rw"> 
              {{newRec.getFieldValue(f.FName)}}
              </ng-container>
              <ng-template #newrec_string_rw>
                <input #newrec_text class=input_inlined 
    (change)="newRec.setFieldValue(f.FName,newrec_text.value)" placeholder={{f.NewRecordCaption}} size={{newRec.PixelsToSize(f.Width)}} [ngModel]="newRec.getFieldValue(f.FName)"  >
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'user'">
              <ng-container *ngIf="f.Access == 'ro'; else newrec_user_rw"> 
              {{newRec.getFieldValue(f.FName) | user}}
              </ng-container>
              <ng-template #newrec_user_rw>

                <select required #t (change)="newRec.setFieldValue(f.FName,t.value)" [ngModel]="newRec.getFieldValue(f.FName)">
                <option *ngFor="let item of [].constructor(Parameters['users'].length); let i = index" [value]="i">{{Parameters['users'][i]}}</option>
                </select>

              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'date'">
              <ng-container *ngIf="f.Access == 'ro'; else newrec_date_rw"> 
              {{newRec.getFieldValue(f.FName) | date: 'dd/MM/y'}}
              </ng-container>
              <ng-template #newrec_date_rw>

              <input type="date" class=input_inlined style="width:120px"  [ngModel]="newRec.getFieldValue(f.FName) | date:'yyyy-MM-dd'"  (ngModelChange)="newRec.writeDateField(f.FName,$event)">
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'status'">
              {{newRec.getFieldValue(f.FName) |status }}
            </ng-container>

            <ng-container *ngSwitchDefault> {{newRec.getFieldValue(f.FName)}}</ng-container>

          </div>
        </td>

        <td>
          <button type="button"  [disabled]="!isValidNewRecord()" (click)="addNewTaskButton()" class=inlined >Create task</button>
          &nbsp;
          <button type="button"  (click)="createNewRecordTemplate()" class=inlined >Clear fields</button>
        </td>

      </tr>
      </thead>





      <!--------- TABLE ELEMENTS  ---->

      <tbody>

      <ng-container *ngIf="numFiltered() > 0; then task_tableelements else no_elements">
      </ng-container>

      <!--------- Non-empty TABLE  ---->

      <ng-template #task_tableelements>
        <ng-container *ngFor="let task of TL.subFilter(applyFilter) | DBsort:ascending:fields[sortField].FName:fields[sortField].FType ">
          <tr *ngIf="applyFilter(task)" class=record (mouseover)="onMouseOver(task)" (mouseout)="onMouseOut(task)"
            [class.highlight]="Parameters['highlightRecord'](task)" [class.selected]="task.selected">


            <!--------- LIST OF FIELDS  ---->

            <td width="25px" [class.grid] = "this.currentView.showGrid"><input type="checkbox" (change)="onSelectRecord($event, task)" [(ngModel)]="task.selected" ></td>

            <!--------- Customizatble FIELDS  ---->

            <td *ngFor="let f of visibleFields()" width={{f.Width}}  [class.grid] = "this.currentView.showGrid">
              <div [ngSwitch]="f.FType">
                <ng-container *ngSwitchCase="'date'">{{task.getFieldValue(f.FName) | date: 'dd/MM/y'}}</ng-container>
                <ng-container *ngSwitchCase="'user'">{{task.getFieldValue(f.FName) | user }}</ng-container>
                <ng-container *ngSwitchCase="'status'">{{task.getFieldValue(f.FName) | status }}</ng-container>
                <ng-container *ngSwitchDefault> {{task.getFieldValue(f.FName)}}</ng-container>
              </div>
            </td>


            <!--------- Action Buttons  ---->

            <td *ngIf="task==focus; else actions_no_focus"  [class.grid] = "this.currentView.showGrid">
              <button type="button"(click)="deleteSelectedTasksButton(0)" class=inlined >Delete</button>
              <ng-container *ngFor="let action of task.availableActions()">
                &nbsp;
                <button type="button" (click)="task.status = action.nextStatus; selectedSummary(null) " class=inlined >{{action.name}}</button>
              </ng-container>
            </td>
            <ng-template #actions_no_focus>
              <td [class.grid] = "this.currentView.showGrid"></td>
            </ng-template>

            <!--------- END LIST OF FIELDS  ---->

          </tr>
        </ng-container>
      </ng-template>

      <!--------- EPTY TABLE  -------->

      <ng-template #no_elements>
        <tr>
          <td></td>
          <td colspan=10><i>No tasks to show </i></td>
        </tr>
      </ng-template>

      </tbody>
    </table>

  </div>



  <!--------- END  ---->

</div>