

<table><tr class=toolbar><td>
<button type="button" >New Task</button>
<button type="button" disabled>Search</button>
|
<button type="button" disabled>Reassign</button>
<button type="button" disabled>Change status</button>
<button type="button" [disabled]="areSelectedTasks()" (click)="deleteTasks()">Delete</button>
</td></tr></table>


<table size=100%>

<tr class=header>
    <td width=25><input type="checkbox" (change)="onSelectAll($event)"></td>
    <td width=100>Name</td>
    <td width=80>Owner</td>
    <td width=80>Reporter</td>
    <td width=80>Status</td>
    <td width=90>Created</td>
    <td width=120>Due by</td>
    <td>Description</td>
</tr>

<tr class=newtask>
    <td><button type="button"  class=inlined [disabled]="!isValidNewTask()" (click)="addNewTask(newTask)">New</button></td>
    <td><input class=input_inlined id="newdesc" 
    [(ngModel)]="newTask.name" placeholder="New task name" size="10"></td>
    <td><select required [(ngModel)]='newTask.owner'>
      <option *ngFor="let item of [].constructor(users.length); let i = index" [value]="i">{{users[i]}}</option>
      </select></td>
    <td><i>{{users[newTask.creator]}}</i></td>
    <td><i>{{newTask.status}}</i></td>
    <td><i>--Now--</i></td>

    <td><input type="date" class=input_inlined style="width:115px"
        [(ngModel)]="newTask.dueDate"></td> 
<!--    <td><input type="date" class=input_inlined style="width:115px"
        [ngModel]="newTask.dueDate | date:'yyyy-MM-dd'"></td>  -->
    
    <td><input class=input_inlined id="newdesc" 
    [(ngModel)]="newTask.description" placeholder="Enter the task description" size="100%"></td>
</tr>

<ng-container *ngIf="task_l.length > 0; then task_tableelements else no_elements"> 
</ng-container>

<ng-template #task_tableelements>
<ng-container *ngFor="let task of task_l">
<tr *ngIf="task.filter" class=taskitem (mouseover)="onMouseOver(task)" (mouseout)="onMouseOut(task)"  [class.due]="dueTask(task)" [class.selected]="task.selected">
    <td><input type="checkbox" [(ngModel)]="task.selected"></td>

    <td *ngIf="task==focus"><input class=input_inlined id="name" 
    [(ngModel)]="task.name" placeholder="Edit your name here" size="10"></td>
    <td *ngIf="task!=focus">{{task.name}}</td>

    <td>{{users[task.owner]}}</td>
<!-- DOES NOT WORK WELL
    <td *ngIf="task==focus"><select required [(ngModel)]='task.owner'>
      <option *ngFor="let item of [].constructor(users.length); let i = index" [value]="i">{{users[i]}}</option>
      </select>
      </td>
    <td *ngIf="task!=focus">{{users[task.owner]}}</td>
-->

    <td>{{users[task.creator]}}</td>
    <td>{{task.status}}</td>
    <td>{{task.created | date: 'dd/MM/y'}}</td>
    <td>{{task.dueDate | date: 'dd/MM/y'}}</td>

    <td *ngIf="task==focus"><input class=input_inlined id="desc" 
    [(ngModel)]="task.description" placeholder="Edit your description here" size="100%"></td>
    <td *ngIf="task!=focus">{{task.description}}</td>

</tr>
</ng-container>
</ng-template>

<ng-template #no_elements>
<tr><td></td><td colspan=7><i>No tasks to show </i></td></tr>
</ng-template>

</table>

