table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Lato;
  font-size: small;
  border: 1px solid black;
}
tr.header {
  background-color: #dddddd;
  font-weight: bold;
  border: 1px solid black;
}
tr.taskitem:hover {
  background-color: #8888FF;
  font-weight: bold;
}
tr.selected {
  color: #0000FF;
  font-weight: bold;
}
input.input_desc {
  font-size: small;
}

