


/* Basic */
table {
  border-collapse: collapse;
  border: 0px;
  table-layout: fixed;
  font-family: Lato;
  font-size: small;
}

      .row.content table {
        height: 100%;
        width: 100%;
        table-layout: fixed;
      }
      .row.content tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 100%
      }

      .row.content  thead tr {
        display: block;
      }


/* General styles - TOOLBAR  */
table.toolbar {
  width: 100%;
  background-color: #cccccc;
  border: 1px solid black;
  border-bottom: solid 1px black
}

table.toolbar_tabs {
  background-color: #444444;
  border: none;
}

table.toolbar_inlined {
  font-size: x-small;
  border: 2px inset #cccccc;
}

td.toolbar_header_cell {
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa;
}
td.toolbar_inlined_cell {
  background-color: #cccccc;
  border: 1px solid #aaaaaa;
}

select.toolbarbox {
  font-size: x-small
}


div.colFmt span{position: absolute;}
div.colFmt span:nth-child(1){left: 8px;}
div.colFmt span:nth-child(2){left: 40px;}

td.toolbar_section {
  padding: 2px;
  border-right-width: 2px;
  border-right-color: darkgray;
  border-right-style: solid;
  vertical-align: top;
  font-size: x-small;
}

td.toolbar_tab {
  background-color: #cccccc;
  border-radius: 8px 8px 0px 0px;
  border: none;
}

input.toolbar {
  font-size: x-small;
  vertical-align: top;
}

button.toolbar {
  font-size: x-small;
}

button.toggleOff {
  font-size: x-small;
  background-color: #ddddff; 
  color: black; 
  border: 2px solid #008CBA; 
}

button.toggleOn {
  font-size: x-small;
  background-color: #008CBA;
  color: white;
}


div.toolbar_section_title {
  font-size: 8px;
  font-variant: small-caps;
}


/* DBView - rows */
tr.newitem {
  border: 1px solid black;
  color: #666666
}
tr.header {
  background-color: #dedede;
  font-weight: bold;
  border: 1px solid black;
  position: sticky;
  top: 0;
}
tr.record:hover {
  background-color: #ddddff;
}
td.record:last-child {
    width: 100%;
}
tr.selected {
  color: #0000FF;
  font-weight: bold;
}
tr.highlight {
  color: #FF0000;
  font-weight: bold;
}

td.grid {
  border: 1px dashed gray
}

td.DBHeader {
 cursor: pointer;
}


/* DBView - inlined controls */
input.input_inlined {
  height: 14px;
  font-size: small;
  font-family: Lato;
}

button.inlined {
  font-size: 10px;
  padding: 0 0 0 0;
}

/* Toolbar tabs */

/* Style the buttons inside the tab */
.toolbar_tab button {
  display: block;
/*  background-color: inherit; */
  background-color: #888888;
  color: black;
  font-family: Lato;
  font-size: small;
/*  padding: 22px 16px; */
  width: 90px;
  height: 18px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px 8px 0px 0px;
}

/* Change background color of buttons on hover */
.toolbar_tab button:hover {
  background-color: #aaaaaa;
  border-bottom: none;
}

/* Create an active/current "tab button" class */
.toolbar_tab button.active {
  background-color: #cccccc;
  border-bottom: none;
}

div.toolbartabcontent{
  height: 100%;
  width: 100%;
}


