/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;

}


.mat-dialog-container {
    padding: 5px !important;
    overflow-x: hidden !important;
    width: 100% !important;
/*    background: #ffcccc;  */
}

.mat-dialog-title {
    color: blue;
    background-color: #ffcccc;
    width: 100%;
    font-size: 16px;
    padding: 1px 0px !important;
}

.mat-checkbox {
    font-size: 14px;
    height: 40px;
}

/* Vertical filler */
.vbox {
  display: flex;
  flex-flow: column;
  height: 100%;
  /*border: 1px solid black;*/
}
.vbox .row.header {
  flex: 0 1 auto;
}
.vbox .row.content {
  flex: 1 1 auto;
}
.vbox .row.footer {
/*  flex: 0 1 20px; */
  flex: 0 1 auto;
}

table.statusbar {
  width: 100%;
  border-collapse: collapse;
  background-color: #cccccc;
  border: 1px solid black;
  border-bottom: solid 1px black;
  table-layout: fixed;
  font-family: Lato;
  font-size: small;
}




